solutions/MonitorAADAppSecretsExpiration/Workflows/CheckAADAppSecretsExpiration-11735CD5-35C2-EC11-983E-000D3A4D4D03.json
{
  "properties": {
    "connectionReferences": {
      "shared_webcontents": {
        "runtimeSource": "embedded",
        "connection": {
          "connectionReferenceLogicalName": "lcn_sharedwebcontents_cafb7"
        },
        "api": {
          "name": "shared_webcontents"
        }
      },
      "shared_office365_1": {
        "runtimeSource": "embedded",
        "connection": {
          "connectionReferenceLogicalName": "lcn_sharedoffice365_a590b"
        },
        "api": {
          "name": "shared_office365"
        }
      }
    },
    "definition": {
      "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
      "contentVersion": "1.0.0.0",
      "parameters": {
        "$connections": {
          "defaultValue": {},
          "type": "Object"
        },
        "$authentication": {
          "defaultValue": {},
          "type": "SecureObject"
        },
        "ADDSecrets-TimeInterval-Value (lcn_TimeIntervalValue)": {
          "defaultValue": 1,
          "type": "Int",
          "metadata": {
            "schemaName": "lcn_TimeIntervalValue"
          }
        },
        "ADDSecrets-TimeInterval-Unit (lcn_TimeIntervalUnit)": {
          "defaultValue": "Month",
          "type": "String",
          "metadata": {
            "schemaName": "lcn_TimeIntervalUnit"
          }
        },
        "ADDSecrets-Recipients (lcn_NotificationRecipients)": {
          "defaultValue": "loic.cimon@loiccimon.com",
          "type": "String",
          "metadata": {
            "schemaName": "lcn_NotificationRecipients"
          }
        }
      },
      "triggers": {
        "Recurrence": {
          "recurrence": {
            "frequency": "Week",
            "interval": 1
          },
          "metadata": {
            "operationMetadataId": "08ddf541-d748-4e1a-9b85-d261f5866711"
          },
          "type": "Recurrence"
        }
      },
      "actions": {
        "Initialize_variable_-_SecretsToRenew": {
          "runAfter": {},
          "metadata": {
            "operationMetadataId": "01aafe46-59ed-49c7-a310-c251c820faa4"
          },
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "SecretsToRenew",
                "type": "array"
              }
            ]
          }
        },
        "Get_future_time": {
          "runAfter": {
            "Initialize_variable_-_SecretsToRenew": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "fbecfa4b-6e98-4281-bfcb-8baa02b88a46"
          },
          "type": "Expression",
          "kind": "GetFutureTime",
          "inputs": {
            "interval": "@parameters('ADDSecrets-TimeInterval-Value (lcn_TimeIntervalValue)')",
            "timeUnit": "@parameters('ADDSecrets-TimeInterval-Unit (lcn_TimeIntervalUnit)')"
          },
          "description": "Time period to check"
        },
        "Get_AAD_Applications": {
          "runAfter": {
            "Get_future_time": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "58195aae-7f3c-4e61-9791-b6d95ddb3fe1"
          },
          "type": "OpenApiConnection",
          "inputs": {
            "host": {
              "connectionName": "shared_webcontents",
              "operationId": "InvokeHttp",
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_webcontents"
            },
            "parameters": {
              "request/method": "GET",
              "request/url": "https://graph.microsoft.com/v1.0/applications?$select=appId,displayName,passwordCredentials"
            },
            "authentication": "@parameters('$authentication')"
          }
        },
        "Parse_JSON": {
          "runAfter": {
            "Get_AAD_Applications": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "63725cdb-6069-4d21-a740-3a9792883584"
          },
          "type": "ParseJson",
          "inputs": {
            "content": "@body('Get_AAD_Applications')?['value']",
            "schema": {
              "type": "array",
              "items": {
                "type": "object",
                "properties": {
                  "appId": {
                    "type": "string"
                  },
                  "displayName": {
                    "type": "string"
                  },
                  "passwordCredentials": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "properties": {
                        "customKeyIdentifier": {},
                        "displayName": {
                          "type": [
                            "string",
                            "null"
                          ]
                        },
                        "endDateTime": {
                          "type": "string"
                        },
                        "hint": {
                          "type": [
                            "string",
                            "null"
                          ]
                        },
                        "keyId": {
                          "type": "string"
                        },
                        "secretText": {},
                        "startDateTime": {
                          "type": "string"
                        }
                      },
                      "required": [
                        "customKeyIdentifier",
                        "displayName",
                        "endDateTime",
                        "hint",
                        "keyId",
                        "secretText",
                        "startDateTime"
                      ]
                    }
                  }
                },
                "required": [
                  "appId",
                  "displayName",
                  "passwordCredentials"
                ]
              }
            }
          }
        },
        "Apply_to_each_Applications": {
          "foreach": "@body('Parse_JSON')",
          "actions": {
            "Apply_to_each_Secret": {
              "foreach": "@items('Apply_to_each_Applications')['passwordCredentials']",
              "actions": {
                "Check_Renewal_Date": {
                  "actions": {
                    "Append_to_array_variable": {
                      "runAfter": {},
                      "metadata": {
                        "operationMetadataId": "08e66e52-dd56-483b-9376-77f1c23937b1"
                      },
                      "type": "AppendToArrayVariable",
                      "inputs": {
                        "name": "SecretsToRenew",
                        "value": {
                          "App ID": "@items('Apply_to_each_Applications')['appId']",
                          "Name": "@items('Apply_to_each_Applications')['displayName']",
                          "Expiration Date": "@items('Apply_to_each_Secret')?['endDateTime']"
                        }
                      }
                    }
                  },
                  "runAfter": {},
                  "expression": {
                    "lessOrEquals": [
                      "@formatDateTime(items('Apply_to_each_Secret')?['endDateTime'])",
                      "@body('Get_future_time')"
                    ]
                  },
                  "metadata": {
                    "operationMetadataId": "704be5e7-61f0-44a0-8b55-06808eeddff9"
                  },
                  "type": "If"
                }
              },
              "runAfter": {},
              "metadata": {
                "operationMetadataId": "3952a3ff-d2a5-4410-ac0e-bfb3d1594a3c"
              },
              "type": "Foreach"
            }
          },
          "runAfter": {
            "Parse_JSON": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "5ad81714-c5af-4964-ae14-8e7344e5dee9"
          },
          "type": "Foreach"
        },
        "Check_If_Renewal_Is_Required": {
          "actions": {
            "Create_HTML_table": {
              "runAfter": {},
              "metadata": {
                "operationMetadataId": "6c24b314-360d-458e-908d-7d050478a8ba"
              },
              "type": "Table",
              "inputs": {
                "from": "@variables('SecretsToRenew')",
                "format": "HTML"
              }
            },
            "Send_an_email_(V2)": {
              "runAfter": {
                "Add_html_class": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "fc17f15f-c4e7-4058-9b98-8aca4d5aa808"
              },
              "type": "OpenApiConnection",
              "inputs": {
                "host": {
                  "connectionName": "shared_office365_1",
                  "operationId": "SendEmailV2",
                  "apiId": "/providers/Microsoft.PowerApps/apis/shared_office365"
                },
                "parameters": {
                  "emailMessage/To": "@parameters('ADDSecrets-Recipients (lcn_NotificationRecipients)')",
                  "emailMessage/Subject": "Azure AD App Registration Secrets expire soon",
                  "emailMessage/Body": "<style>\nbody {\n\tfont: 16px 'Arial';\n}\n.container {\n    width: 650px;\n    margin: 20px;\n    padding: 20px;\n}\n\n.details {\n\tborder-collapse: collapse;\n\twidth: 90%;\n\tmargin: 0px auto;\n}\n\n.details th, .details td, .details tr{\n\tborder-bottom: 1px solid #cacaca;\n\tborder-collapse: collapse;\n  \tpadding: 8px 5px 3px 5px;\n\ttext-align: left;\n}\n</style>\n<div>\n<p>Hello,<br>\n<br>\nFollowing applications secrets will expire soon. Please renew them and update connections to avoid any service interruption.<br>\n<br>\n@{outputs('Add_html_class')}<br>\n<br>\nBest regards.</p>\n</div>"
                },
                "authentication": "@parameters('$authentication')"
              }
            },
            "Add_html_class": {
              "runAfter": {
                "Create_HTML_table": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "4514d70a-08cc-4599-af8d-851562ae3b2c"
              },
              "type": "Compose",
              "inputs": "@replace(body('Create_HTML_table'), '<table', '<table class=\"details\"')"
            }
          },
          "runAfter": {
            "Apply_to_each_Applications": [
              "Succeeded"
            ]
          },
          "expression": {
            "greater": [
              "@length(variables('SecretsToRenew'))",
              0
            ]
          },
          "metadata": {
            "operationMetadataId": "2c8853d0-b338-46be-81af-d8d533ff8b85"
          },
          "type": "If"
        }
      },
      "outputs": {}
    }
  },
  "schemaVersion": "1.0.0.0"
}